---
---

@import "bootstrap";
@import "colourscheme";
@import "custom-components";
@import "syntax";

body{
  font-family: 'Open Sans', sans-serif;
  @include gradient-vertical($background-colour, $background-colour-end, 0%, 100%);

  a{
    color: $link-colour;
  }

}

.container{
  @include make-container();
  min-height: 100vh;
  max-width: 100%;

}

.landing-project{
  @include make-row();
  min-height: 100vh;

  .project-header{
    @include make-row();

    min-height: 100vh;
    background: url('{{ site.baseurl }}/assets/img/landing/projects.jpg') no-repeat;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;

    .project-card{

      @include auto-margins();
      background-color: hsla(0, 0%, 100%, 0.85);

      .card-title{
        font-size: 4em;

      }

      .card-text{
        font-size: 2em;
      }

    }

    .project-buttons{
      @include auto-margins();
      @include clearfix();

    }


  }

  .active-projects, .non-active-projects{
    @include make-row();
    @include clearfix();
    @include gradient-vertical-three-colors($background-colour-end-slightly, $background-colour, 50%, $background-colour-end-slightly);

    .collapse{
      img{
        display: block;
        @include auto-margins();
        max-width: 100%;
      }

    }
    .list-group-item{
      @include clearfix();
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      border: 2px solid $background-accent;
      border-bottom-width: 0em;
      background: none;

    }

    .last{
      border-bottom-width: 2px;
    }

    .active-item, .non-active-item{
      @include make-col();
      @include make-col-offset(1);
      @include make-col-span(10);
      min-height: 11em;

      .project-button-extras{

        .btn{
          margin-right: 1em;
          min-width: 7.5em;
        }

        @include media-breakpoint-down(sm){
          text-align: center;

          .btn{
              width: 75%;
              margin-top: .4em;
              margin-right: 0em;
            }
          }
      }

      .active-title, .non-active-title{
        text-align: center;
        margin-bottom: 1.25em;

        @include media-breakpoint-up(lg){
          text-align: left;
        }

        .label{
          font-size: 40%;
          display: block;
          width: 70%;
          margin-top: .4em;
          @include auto-margins();

          @include media-breakpoint-up(md){
            font-size: 50%;
            width: 45%;
          }

          @include media-breakpoint-up(lg){
            display: inline-block;
            float: right;
            font-size: 50%;
            width: initial;
          }
        }
      }

      .active-blurb, .non-active-blurb{
        margin-top: .4em;
        margin-bottom: 1.4em;
      }
    }

  }

}

.landing-about{
  @include make-row();
  min-height: 100vh;

  p, h1{
    color: $landing-text-color;
  }

  .about-content{
    @include make-col();
    @include make-col-offset(1);
    @include make-col-span(10);
    margin-top: 2em;
    margin-bottom: 2em;

    .about-pic{
      @include make-row();
      text-align: center;

      img{
        max-height: 50vh;
        min-width: 250px;
        border: 3px solid $background-accent;

      }

    }

  }

}

.upper-retina{
  @include make-row();

  background: url('{{ site.baseurl }}/assets/img/landing/background.jpg') no-repeat;
  background-size: cover;


  .retina-header{
    @include make-col();
    @include make-col-span(12);
    margin-top: 2em;
    min-height: 100vh;

    .retina-header-text{
      margin-bottom: 1em;
    }

    .landing-cards{
      @include make-row();

      .card-deck{
        @include auto-margins();
        @include clearfix();
      }

      .card{
        @include make-col();
        @include make-col-span(3);
        width: 290px;
        height: 550px;



        @media(max-width: 1000px){
          margin-left: 28%;
        }

        @include media-breakpoint-down(xs){
          margin-left: 13%;
        }

        @include media-breakpoint-up(lg){
          width: 300px;
          margin-right: 1.5em;
          margin-left: 0em;
        }

        .btn-toolbar{
          text-align: center;

          .btn{
            min-width: 6.75em;
            margin-left: 0em;

            @media(min-width: 1000px){
              margin-right: .5em;
            }
          }

        }

        .card-text{
          height: 10em;
        }

        .card-img-top{
          @include auto-margins();
          margin-top: 1em;
          width: 100%;
          height: 225px;

        }
      }

    }
  }
}
