---
---

@import "main";

// Required to be in this file because of the use of {{ site.baseurl }}

.project-header {
    @include make-row();
    min-height: 100vh;
    background: url('{{ site.baseurl }}/assets/img/landing/projects.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-retina {
    @include make-row();
    background: url('{{ site.baseurl }}/assets/img/landing/background-mobile.jpg') no-repeat;
    background-size: cover;

    @include media-breakpoint-up(md) {
        background: url('{{ site.baseurl }}/assets/img/landing/background.jpg') no-repeat;
        background-size: cover;
    }
}
