---
---

@import "bootstrap";
@import "colourscheme";

body{
  font-family: 'Open Sans', sans-serif;
  @include gradient-vertical($background-colour, $background-colour-end, 0%, 100%);

  a{
    color: $link-colour;
  }

}

.btn-content{
  @include button-variant($btn-content-colour, $btn-content-bg, $btn-content-border);
}

.container{
  @include make-container();
  min-height: 100vh;
  max-width: 100%;

}

.landing-project{
  @include make-row();
  min-height: 100vh;

  .project-header{
    @include make-row();

    min-height: 100vh;
    background: url('{{ site.baseurl }}/assets/img/landing/projects.jpg') no-repeat;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;

    .project-card{

      @include auto-margins();
      background-color: hsla(0, 0%, 100%, 0.65);

      .card-title{
        font-size: 4em;

      }

      .card-text{
        font-size: 2em;
      }

    }

    .project-buttons{
      @include auto-margins();
      @include clearfix();

      .btn-secondary{
        margin-left: 1.5em;
      }
    }


  }

  .active-projects, .non-active-projects{
    @include make-row();
    @include clearfix();
    @include gradient-vertical-three-colors($background-colour-end, $background-colour-end-slightly, 50%, $background-colour-end);


    .list-group-item{
      @include clearfix();
      padding-top: 1em;
      padding-bottom: 1em;
      border: 2px solid $background-accent;
      background: none;

    }

    .active-item, .non-active-item{
      @include make-col();
      @include make-col-offset(1);
      @include make-col-span(10);
      min-height: 11em;

      .active-title, .non-active-title{
        text-align: center;

        @include media-breakpoint-up(lg){
          text-align: left;
        }

        .label{
          font-size: 40%;
          display: block;
          width: 70%;
          margin-top: .5em;
          @include auto-margins();

          @include media-breakpoint-up(md){
            font-size: 50%;
            width: 60%;
          }

          @include media-breakpoint-up(lg){
            display: inline-block;
            float: right;
            font-size: 50%;
            width: initial;
            margin-top: 0;
          }
        }
      }
    }

  }

}

.landing-about{
  @include make-row();
  min-height: 100vh;

  p, h1{
    color: $landing-text-color;
  }

  .about-content{
    @include make-col();
    @include make-col-offset(1);
    @include make-col-span(10);
    margin-top: 2em;
    margin-bottom: 2em;

    .about-pic{
      @include make-row();
      text-align: center;

      img{
        max-height: 50vh;
        min-height: 225px;

        border: 3px solid $background-accent;

      }

    }

  }

}

.upper-retina{
  @include make-row();

  background: url('{{ site.baseurl }}/assets/img/landing/background.jpg') no-repeat;
  background-size: cover;


  .retina-header{
    @include make-col();
    @include make-col-span(12);
    margin-top: 2em;
    min-height: 100vh;

    .retina-header-text{
      margin-bottom: 1em;
    }

    .landing-cards{
      @include make-row();

      .card-deck{
        @include auto-margins();
        @include clearfix();
      }

      .card{
        @include make-col();
        @include make-col-span(3);
        width: 80%;
        min-width: 270px;
        max-width: 290px;
        height: 550px;



        @media(max-width: 1000px){
          margin-left: 28%;
        }

        @include media-breakpoint-down(xs){
          margin-left: 15%;
        }

        @include media-breakpoint-up(lg){
          margin-right: 1.5em;
          margin-left: 0em;
        }


        .btn{
          margin-left: .5em;
          margin-right: .5em;
        }

        .resume, .more, .project, .github{
          @include make-col();
          @include make-col-span(5);
          min-width: 30px;
          padding: 7px;

        }
        .more{
          width: 7em;

        }

        .blog{
          @include make-col();
          @include make-col-span(5);
          width: 90%;
          min-width: 30px;
        }

        .card-text{
          height: 10em;
        }

        .card-img-top{
          @include auto-margins();
          margin-top: 1em;
          width: 100%;
          height: 225px;

        }
      }

    }
  }
}
