---
layout: default
title: "Lucas' Blog and Website"
subtitle: "Sometimes I have a point."
---

<div class="upper-retina" photo-credit="https://www.flickr.com/photos/dexxus/2704487136/in/photolist-57ZcNy-eA9Dn5-9Hf5EU-5PFa3A-4gk9Hg-kdup2f-fjeWDP-6vXYG4-cqwdJ1-kaSW3h-bV5nPP-aAeP5q-ngoTM5-5N1dL4-dTMkux-ng75M5-nNZL7s-4hVsAU-p98yWV-jE2WFy-jDS4uL-9KxwP4-kznvMZ-4BXmqF-nyhysB-jDXTiZ-961Pkg-Yv95b-961MB6-kaFR9c-7cge22-9fZ7ef-kzeFeR-kaPAcn-96rK8q-4WagtE-fGVQmU-mkNQSY-kzpHP9-zyStp-k75oH4-4gk4F8-bzMoxb-9ji2TQ-4god6f-jE2ocg-8HEKZg-miW4NA-8HHUZ7-95S7gS">
    {% include landing-header.html %}
</div>

<div class="landing-about">
  {% include landing-about.html %}
</div>

<div class="landing-project">
  {% include landing-project.html %}
</div>
