<div class="project-header" id="project">
  <div class="card project-card">
    <div class="card-block">
      <p class="card-title text-xs-center">Projects</h4>
      <p class="card-text text-xs-center"> Where my sleep lives.</p>
      <div class="project-buttons btn-toolbar">
        <a class="btn btn-active" href="#active">Active Projects</a>
        <a class="btn btn-secondary" href="#non-active">Non-Active Projects</a>
      </div>
    </div>
  </div>
</div>
<div class="active-projects" id="active">
  {% include active-projects.html %}
</div>
<div class="non-active-projects" id="non-active">
  {% include non-active-projects.html %}
</div>
