// some utility mixins

@mixin auto-margins(){
  margin-left: auto;
  margin-right: auto;
}

// background variables

$background-colour: #B6F6EC;
$background-colour-end: #8DF1E1;
$background-colour-end-slightly: #CAFAF3;
$background-accent: #FFC150;


// some text colour stuff

$link-colour: #3987C6;
$landing-text-color: #050D19;

// palette tingz

$active-colour: #16d082;
$occasional-colour: #71c171;
$completed-colour: $link-colour;
$over-colour: #d1332e;


// button stuff

$btn-content-colour: #FFF;
$btn-content-bg: #30A6B1;
$btn-content-border: #E6FFFB;

$btn-active-bg: $active-colour;
$btn-active-colour: #FFF;
$btn-active-border: $active-colour;
