// background variables
$background-colour: #FFF;
$background-colour-end: #E6FFFC;
$background-colour-end-slightly: #EBFEFB;
$background-accent: #FFC150;
$border-accent: #B6F6EC;
$post-list-hover: #FFBF52;
$content-background: #17C17A;
$content-background-slight: #52DEA7;
// some text colour stuff
$link-colour: #F25D0D;
$landing-text-color: #050D19;
// palette tingz
$active-colour: #0DD987;
$occasional-colour: #71c171;
$completed-colour: #F25D0D;
$over-colour: #d1332e;
// button stuff
$btn-content-colour: #FFF;
$btn-content-bg: #30A6B1;
$btn-content-border: #E6FFFB;
$btn-active-bg: #16d082;
$btn-active-colour: #FFF;
$btn-active-border: #16d082;
//navbar
$nav-background-colour: #140605;
