.landing-about {
  @include make-row();
  min-height: 100vh;

  h1,
  p {
    color: $landing-text-color;
  }

  .about-content {
    @include make-col();
    @include make-col-offset(1);
    @include make-col-span(10);
    margin-bottom: 2em;
    margin-top: 2em;

    .about-header {
      margin-top: 1.25em;
    }

    .about-body {
      margin-bottom: 0.75em;
      margin-top: 1.25em;
    }

    .about-pic {
      @include make-row();
      margin-top: 1.8em;
      text-align: center;

      img {
        border: 0.1875em solid $background-accent;
        max-height: 50vh;
        min-width: 15.635em;
      }
    }
  }
}
