---
layout: page
title: "Lucas' Blog"
subtitle: "Sometimes I have a point."
---

<div class="blog">
    <div class="blog-header">
        <h1>{{ page.title }}</h1>
        <h4>{{ page.subtitle }}</h4>
    </div>
    <ul class="post-list">
        {% for post in site.posts limit:1 %}
        <li class="post-list-item first">
            <a href="{{ post.url }}">
                <div class="card-block">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <div class="card-text">{{ post.subtitle }}</div>
                </div>
                <div class="card-block text-muted">
                    Posted on: {{ post.date | date: '%B %d, %Y' }}
                </div>
            </a>
        </li>
        {% endfor %} {% for post in site.posts offset:1%}
        <li class="post-list-item">
            <a href="{{ post.url }}">
                <div class="card-block">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <div class="card-text">{{ post.subtitle }}</div>
                </div>
                <div class="card-block text-muted">
                    Posted on: {{ post.date | date: '%B %d, %Y' }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
