<ul class="list-group non-active-project-list">
    <li class="list-group-item">
        <div class="non-active-item">
            <div class="non-active-title">
                <h1>CS:GO Case Simulator<span class="label label-occasional">Occasional Updates</span></h1>
            </div>
            <div class="non-active-blurb">
                <p>This simulation lets you open all the cases you want while showing you some info about how bad of an idea it is to open cases. Totally client side and hosted on github, it was a fun project to throw together, plus who doesn't love <strong>DIGITAL SPORTS</strong>?
                    Choose a case to open and watch your money fly away!</p>
            </div>
            <div class="project-button-extras">
                <a class="btn btn-content" href="http://globaloffensivecasesimulator.com/">Visit Site</a>
                <a class="btn btn-content" href="https://github.com/AnthonyPiersanti/casesimulation" target="_blank">Github Repo</a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="non-active-item">
            <div class="non-active-title">
                <h1>Kasaya Game<span class="label label-completed">Finished Development</span></h1>
            </div>
            <div class="non-active-blurb">
                <p>A project completed over a semester in game design class. Control your cute bird-hero and his gravity powers in this novel take on your standard platformer. This was made using Unity 3d before it natively supported sprites and 2D development
                    out of the box. Recieved an A+ and it was a huge hit at the Creative Computing Convention at Queen's. </p>
            </div>
            <div class="collapse" id="kasaya-extras">
                {% capture kasaya %}{% include markdown/kasaya.markdown %}{% endcapture %} {{ kasaya | markdownify }}
            </div>
            <div class="project-button-extras">
                <a class="btn btn-content" data-toggle="collapse" href="#kasaya-extras">Show More</a>
                <a class="btn btn-content" href="https://github.com/lucasmarcelli/kasayaGame" target="_blank">Github Repo</a>
                <a class="btn btn-content" href="/assets/files/kasaya.zip" target="_blank">Download Executable</a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="non-active-item">
            <div class="non-active-title">
                <h1>Old Website<span class="label label-completed">Finished Development</span></h1>
            </div>
            <div class="non-active-blurb">
                <p>Essentially an archive of my old websites. All the posts are migrated over to the blog here, but I left the old sites up for posterity. My last designs were mostly blog-centric, this design is more of a personal showcase.
            </div>
            <div class="project-button-extras">
                <a class="btn btn-content" href="http://lessold.marcelli.ca" target="_blank">Old Site</a>
                <a class="btn btn-content" href="http://old.marcelli.ca" target="_blank">Older Site</a>
            </div>
        </div>
    </li>
    <li class="list-group-item last">
        <div class="non-active-item">
            <div class="non-active-title">
                <h1>Code for Kids<span class="label label-over">No Longer Operating</span></h1>
            </div>
            <div class="non-active-blurb">
                <p>This not-for-profit was the brainchild of my good friend Julian Nadeau. Seeking to bring the joys of coding and design to kids, I took on the role of managing director and cofounder. We succeeded in reaching almost 800 kids, 4 cities,
                    and countless lines of code. The highlights included being named in the top fold of the Globe and Mail, and being featured on TV in Montreal. It was truly a blast to work with the sponsors and the team Julian and I put together.</p>
            </div>
            <div class="project-button-extras">
                <a class="btn btn-content" href="http://www.theglobeandmail.com/report-on-business/careers/career-advice/code-secrets-for-growing-techies/article17571825/" target="_blank">Globe Article</a>
                <a class="btn btn-content" href="http://codeforkids.myshopify.com/pages/about" target="_blank">Goodbye Letter</a>
            </div>
        </div>
    </li>
</ul>
